<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <!-- <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.1.3.css"> -->
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css">

</head>

<body>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-6 col-10">
          <h1 class="text-secondary">ADD A SONG&nbsp;</h1>
          <form class="text-left" action="addsong" method="POST">
                <div class="form-group"> <label for="form16" class="text-danger">SongID</label> <input type="number" name="songId" class="form-control" id="form16"> </div>
                <div class="form-group"> <label for="form16" class="text-danger">AlbumID</label> <input type="number" name="albumId" class="form-control" id="form16"> </div>

                <div class="form-row">
                <div class="form-group col-md-6"> <label for="form19" class="text-danger">Title</label> <input type="text" name="title" class="form-control" id="form19"> </div>
                <div class="form-group col-md-6"> <label for="form20" class="text-danger">Singer</label> <input type="text" name="singer" class="form-control" id="form20"> </div>
                </div>
                <button type="submit" class="btn btn-primary">DONE</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</body>

</html>