<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="theme.css" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container"> <a class="navbar-brand text-primary" href="#">
        <i class="fa d-inline"></i>
        <b> ONLINE MUSIC STORE&nbsp;</b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar4">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar4">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="/">HOME</a> </li>
          <li class="nav-item"> <a class="nav-link" href="musicians.html">MUSICIANS</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/add">ADD SONG/ALBUM</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/songs">SONGS</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/albums">ALBUMS</a> </li>
          <!-- <li class="nav-item"> <a class="nav-link" href="subscribe.html">GET NOTIFICATIONS</a> </li> -->
          <% if(!user){ %>
            <li class="nav-item"> <a class="nav-link" href="/login">LOGIN</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/register">REGISTER</a> </li>
          <% }else{ %>
          <%  var username = user.username; %>
            <li class="nav-item"> <a class="nav-link" href="/">WELCOME <%= username.charAt(0).toUpperCase() + username.slice(1) %></a> </li>
          <% } %>


      </div>
    </div>
  </nav>
  <div class="py-5 text-center align-items-center d-flex border border-light text-white" style=" background-position: center center, center center; background-size: cover, cover; background-repeat: repeat, repeat;">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12"><img class="img-fluid d-block mx-auto" src="https://source.unsplash.com/PDX_a_82obo" height="300" width="300"></div>
      </div>
      <div class="row">
        <div class="mx-auto col-lg-8 col-md-12">
          <h4 class="display-3 bg-secondary shadow">ONLINE MUSIC STORE&nbsp;</h4>
          <a href="about.html" class="btn btn-lg btn-primary mx-1">About</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12"></div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</body>

</html>